# EXAMPLES – READ CSV

We will now see some examples to read CSV in Pandas:

1. Read a CSV

2. Display the top n rows of the DataFrame

3. Display the last n rows of the DataFrame

# 1. EXAMPLE – READ A CSV

Let us see an example to read our CSV file Students.csv using the pandas.read_csv() method in Pandas:

In [ ]:
import pandas as pd

s = pd.read_csv('oly.csv')

print(s)

# 2. EXAMPLE - DISPLAY THE TOP N ROWS OF A DATAFRAME

The head() method will display the first n rows of a DataFrame. The default rows returned are 5.

Let us see an example to display only the top 2 rows. For that, set the parameter of the head() as 2:

In [ ]:
import pandas as pd

# READ CSV FILES 
s = pd.read_csv('oly.csv')

# READ CSV FILE n number Top 5 Row 
pf = s.head()


# Read csv files Top 2 Row
pff = s.head(2)
print (pff)

# 3. EXAMPLE – DISPLAY THE LAST N ROWS OF A DATAFRAME

The tail() method will display the last n rows of a DataFrame. The default rows returned are 5.

Let us see an example to display only the bottom 2 rows. For that, set the parameter of the tail() as 2:

In [ ]:
import pandas as pd

# READ CSV FILES 
s = pd.read_csv('oly.csv')

# READ CSV FILE n number Last 5 Row 
pf = s.tail()


# Read csv files last 2 Row
pff = s.head(2)
print (pff)

In [ ]:
df = pd.read_csv('oly.csv', dtype={'column1': str, 'column2': int})

In [ ]:
import pandas as pd

# READ CSV FILES 
s = pd.read_csv('oly.csv')

# READ CSV FILE n number Last 5 Row 
df = s.tail()

# data types 
print (df.dtypes)

In [ ]:
df = pd.read_csv('oly.csv', sep=';')
print(df)

In [ ]:
df = pd.read_csv('cars.csv')
print(df.columns)

In [ ]:
# you print only Price Rowa
print(df['price'])

In [ ]:

print(type(df['price']))

In [ ]:
df = pd.read_csv('cars.csv')
# print(df.columns)
# print(df['price'])
# print(df[df.price < 6300])
# df = pd.read_csv('cars.csv', sep='.')
print(df)

# How to Read Only Specific Columns From a CSV File Using Pandas

In [ ]:
columns = ['brand', 'model','price']
df = pd.read_csv('cars.csv', usecols=columns)
print(df.head(10))

# How to Get Statistics For a Column in a CSV File Using Pandas

In [ ]:
df = pd.read_csv('cars.csv')
print(df['price'].describe())

# To read a CSV file in multiple chunks using Pandas, you can pass the chunksize argument to the read_csv function and loop through the data returned by the function.

In [ ]:
for chunk in pd.read_csv('cars.csv', chunksize=4):
    print("######## Chunk ########")
    print(chunk)
    print(type(chunk))

In [9]:
import pandas as pd
df = pd.read_csv('cars.csv',header = 1)
print(df)

         0   6300     toyota cruiser  2008  clean vehicle  274117   black  \
0        1   2899       ford      se  2011  clean vehicle  190552  silver
1        2   5350      dodge     mpv  2018  clean vehicle   39590  silver
2        3  25000       ford    door  2014  clean vehicle   64146    blue
3        4  27700  chevrolet    1500  2018  clean vehicle    6654     red
4        5   5700      dodge     mpv  2018  clean vehicle   45561   white
...    ...    ...        ...     ...   ...            ...     ...     ...
2493  2494   7800     nissan   versa  2019  clean vehicle   23609     red
2494  2495   9200     nissan   versa  2018  clean vehicle   34553  silver
2495  2496   9200     nissan   versa  2018  clean vehicle   31594  silver
2496  2497   9200     nissan   versa  2018  clean vehicle   32557   black
2497  2498   9200     nissan   versa  2018  clean vehicle   31371  silver

        jtezu11f88k007763  159348797  new jersey   usa   10 days left
0       2fmdk3gc4bbb02217  166951262   tennessee   usa    6 days left
1       3c4pdcgg5jt346413  167655728     georgia   usa    2 days left
2       1ftfw1et4efc23745  167753855    virginia   usa  22 hours left
3       3gcpcrec2jg473991  167763266     florida   usa  22 hours left
4       2c4rdgeg9jr237989  167655771       texas   usa    2 days left
...                   ...        ...         ...   ...            ...
2493    3n1cn7ap9kl880319  167722715  california   usa    1 days left
2494    3n1cn7ap5jl884088  167762225     florida   usa  21 hours left
2495    3n1cn7ap9jl884191  167762226     florida   usa  21 hours left
2496    3n1cn7ap3jl883263  167762227     florida   usa    2 days left
2497    3n1cn7ap4jl884311  167762228     florida   usa  21 hours left

[2498 rows x 13 columns]