# PANDAS - SELECT MULTIPLE COLUMNS

In Python, easily select multiple columns in a Pandas DataFrame. Select more than one column without using built-in functions. More than two columns can also be selected in a range. In this lesson, learn how to:

1. Select two columns

2. Select multiple columns in a range

# 1. PANDAS - SELECT TWO COLUMNS

To select two specific columns from a Pandas DataFrame, mention the column names. Do not mention the column names you don't want to display:

dataFrame[[['Rank', 'Marks']]

Let us see an example of selectinglewo specific columns in a Pandas DataFrame:

In [13]:
import pandas as pd
data = {
    'student':['laxmi','sneha','thamana','srir'],
    'Roll':[1,2,3,4],
    'Address': ['N','E','W','S']
}

df = pd.DataFrame(data)
#print('Print Data Frame \n ',df)
print (df[['student','Roll']])

   student  Roll
0    laxmi     1
1    sneha     2
2  thamana     3
3     srir     4

# 2. PANDAS - SELECT MULTIPLE COLUMNS IN A RANGE

In a Pandas DataFrame, to select more than one column in a range, mention the index numbers in a range separated by a colon. The following selects columns 3rd to 5th

dataFrame [dataFrame.columns[2:5]]

Let us see an example to select multiple columns in a range. We have added two more columns to the above example for our input:

In [18]:
import pandas as pd
data = {
    'student':['laxmi','sneha','thamana','srir'],
    'Roll':[1,2,3,4],
    'Address': ['N','E','W','S']
}

df = pd.DataFrame(data)
#print('Print Data Frame \n ',df)
print (df[df.columns[1:3]])

   Roll Address
0     1       N
1     2       E
2     3       W
3     4       S