# PANDAS - ITERATE OVER ROWS & COLUMNS

In this lesson, we will learn how to iterate over rows and columns in a Pandas DataFrame. Let's see some examples of how to:

I. Iterate over rows

II. Iterate over columns

# PANDAS - ITERATE OVER ROWS

To iterate over the rows, use the following methods in Pandas:

1. iterrows(): To Iterate over the rows

2. itertuples(): To Iterate over the rows

Let us understand them one by one:

In [10]:
import pandas as pd

data = {
    'Emp-Name': ['saiKumar', 'Mani', 'chai', 'Moni'],
    'Addrea': ['N', 'S', 'W', 'E'],
    'EID': [101, 102, 103, 104]
}

df = pd.DataFrame(data)
print(df)

# Iterating over rows using iterrows()
for index, row in df.iterrows():
    print(f"Index: {index}, Emp-Name: {row['Emp-Name']}, Addrea: {row['Addrea']}, EID: {row['EID']}")

   Emp-Name Addrea  EID
0  saiKumar      N  101
1      Mani      S  102
2      chai      W  103
3      Moni      E  104
Index: 0, Emp-Name: saiKumar, Addrea: N, EID: 101
Index: 1, Emp-Name: Mani, Addrea: S, EID: 102
Index: 2, Emp-Name: chai, Addrea: W, EID: 103
Index: 3, Emp-Name: Moni, Addrea: E, EID: 104

In [12]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}

df = pd.DataFrame(data)

for row in df.itertuples():
    print (row)

Pandas(Index=0, Name='Alice', Age=25)
Pandas(Index=1, Name='Bob', Age=30)
Pandas(Index=2, Name='Charlie', Age=35)

In [10]:
import pandas as pd

data = {
    'Emp-Name': ['saiKumar', 'Mani', 'chai', 'Moni'],
    'Addrea': ['N', 'S', 'W', 'E'],
    'EID': [101, 102, 103, 104]
}

df = pd.DataFrame(data)
print(df)

# Iterating over rows using iterrows()
for index, row in df.iterrows():
    print(f"Index: {index}, Emp-Name: {row['Emp-Name']}, Addrea: {row['Addrea']}, EID: {row['EID']}")

   Emp-Name Addrea  EID
0  saiKumar      N  101
1      Mani      S  102
2      chai      W  103
3      Moni      E  104
Index: 0, Emp-Name: saiKumar, Addrea: N, EID: 101
Index: 1, Emp-Name: Mani, Addrea: S, EID: 102
Index: 2, Emp-Name: chai, Addrea: W, EID: 103
Index: 3, Emp-Name: Moni, Addrea: E, EID: 104

In [13]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}

df = pd.DataFrame(data)

for row in df.iterrows():
    print (row)

(0, Name    Alice
Age        25
Name: 0, dtype: object)
(1, Name    Bob
Age      30
Name: 1, dtype: object)
(2, Name    Charlie
Age          35
Name: 2, dtype: object)