# PANDAS - HANDLING DUPLICATES (FIND AND REMOVE)

Handling Duplicates in Python Pandas means to find and remove duplicates from rows in a DataFrame or Series, use the:

1. duplicated(): Find Duplicates, and

2. drop_duplicates(): Remove Duplicates

# 1. HANDLING DUPLICATES - FIND DUPLICATES

To find duplicates from rows in a Pandas DataFrame or Series, use the duplicated() method. It returns a Series with True and False values i.e. for duplicate rows True is returned.

Let us see an example:

In [8]:
import pandas as pd
data = {

    'emp' : [ "mani","sai","chai","sai"],
    'eid' : [101,102,103,102],
    'Addres': ['N','E','W','E']
}

df = pd.DataFrame(data)

dff = (df.duplicated())
print(dff)

0    False
1    False
2    False
3     True
dtype: bool

# 2. HANDLING DUPLICATES - REMOVE DUPLICATES

To remove duplicates from rows in a Pandas DataFrame or Series, use the drop_duplicates() method.

Let us see an example:

In [15]:
import pandas as pd
data = {

    'emp' : [ "mani","sai","chai","sai"],
    'eid' : [101,102,103,102],
    'Addres': ['N','E','W','E']
}

df = pd.DataFrame(data)
print ('\n',df)

dff = df.drop_duplicates()
print('\n Remove duplicates \n  ',dff)

     emp  eid Addres
0  mani  101      N
1   sai  102      E
2  chai  103      W
3   sai  102      E

 Remove duplicates
       emp  eid Addres
0  mani  101      N
1   sai  102      E
2  chai  103      W