# PANDAS - CLEAN THE DATA

To clean the data in Python, we have some built-in functions. In this lesson, we will understand them one by one with examples.

Cleaning the data in Pandas means working on the incorrect data to fix it. This incorrect data can empty data, null, duplicate data, etc.

Let's say we have the following CSV file demo.csv. The data consists of some null values:

# CLEAN THE DATA – BUILT-IN FUNCTIONS

Let us now work around the functions to clean the data:

1. isnull(): Find the NULL values and replace them with True.

2. notnull(): Find the NOT NULL values and replace them with True.

3. df.dropna(): Drop rows with NULL values.

4. df.fillna(x): Replace NULL values with a specific value

In [16]:
import pandas as pd 
df = pd.read_excel('Emp.xlsx')

print(df)

dff = df.isnull
print('\n its show null values\n ',dff)

    EName    Eid addres
0    mani  101.0    NaN
1  ganesh    NaN      N
2     NaN  103.0      S
3     sai  104.0      E

 its show null values
  <bound method DataFrame.isnull of     EName    Eid addres
0    mani  101.0    NaN
1  ganesh    NaN      N
2     NaN  103.0      S
3     sai  104.0      E>

# 2. CLEAN THE DATA – notnull() FUNCTION

The notnull() method in Pandas is used to find the NOT NULL values and replace them with True. For NULL values, False is returned.

In [17]:
import pandas as pd 
df = pd.read_excel('Emp.xlsx')

print(df)

dff = df.notnull()
print('\n its show null values\n ',dff)

    EName    Eid addres
0    mani  101.0    NaN
1  ganesh    NaN      N
2     NaN  103.0      S
3     sai  104.0      E

 its show null values
     EName    Eid  addres
0   True   True   False
1   True  False    True
2  False   True    True
3   True   True    True

# 3. CLEAN THE DATA – df.dropna() FUNCTION

The dropna() method in Pandas is used to drop and remove rows with null values.

Let us see an example:

In [18]:
import pandas as pd 
df = pd.read_excel('Emp.xlsx')

print(df)

dff = df.dropna()
print('\n Remove the null column \n ',dff)

    EName    Eid addres
0    mani  101.0    NaN
1  ganesh    NaN      N
2     NaN  103.0      S
3     sai  104.0      E

 its show null values
    EName    Eid addres
3   sai  104.0      E

# 4. CLEAN THE DATA – df.fillna() FUNCTION

The fillna() method in Pandas is used to replace NULL values with a specific value.

In [20]:
import pandas as pd 
df = pd.read_excel('Emp.xlsx')

print(df)

dff = df.fillna('Empty')
print('\n replce the null with different number  \n ',dff)

    EName    Eid addres
0    mani  101.0    NaN
1  ganesh    NaN      N
2     NaN  103.0      S
3     sai  104.0      E

 replce the null with different number
      EName    Eid addres
0    mani  101.0  Empty
1  ganesh  Empty      N
2   Empty  103.0      S
3     sai  104.0      E