# What is a Pandas DataFrame ? How to create ?
The Pandas DataFrame is a two-dimensional, tabular data, table with rows and columns. The DataFrame() method is used to create a DataFrame and has the following parameters:

■data: The data to be stored in the Pandas DataFrame

■ index: The index values to be provided for the resultant frame.

■ columns: Set the column labels for the resultant frame if data does not mention before

■ dtype: It is the datatype and only a single type is allowed.

copy: To copy the input data

# CREATE A DATAFRAME

In this lesson, we will see some examples to create a DataFrame, accessing a group of rows or columns, name own indexes, etc.:

1. Create a Pandas DataFrame

2. Access a group of rows or columns in a Pandas DataFrame

3. Access a group of rows or columns by integer positions in a Pandas DataFrame

4. Name your own indexes in a Pandas DataFrame

5. Iterate a DataFrame

In [4]:
pip install NumPy

Requirement already satisfied: NumPy in /data/user/0/ru.iiec.pydroid3/files/aarch64-linux-android/lib/python3.11/site-packages (1.26.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd 

Data = {
    'Emp' : ['Laxmi' , 'davi','sai ','chai','mani','Ganesh'],
     'Id' : [101,102,103,104,105,106],
    'blood' : ['0+','ab','o-','o','o+','ob']
}
pf = pd.DataFrame(Data)
print(pf)

      Emp   Id blood
0   Laxmi  101    0+
1    davi  102    ab
2    sai   103    o-
3    chai  104     o
4    mani  105    o+
5  Ganesh  106    ob

# Access Group Roll or column in a pandas DataFrame

In [6]:
import pandas as pd 

Data = {
    'EmpName' : ['Laxmi' , 'davi','sai ','chai','mani','Ganesh'],
     'Id-No' : [101,102,103,104,105,106],
    'blood' : ['0+','ab','o-','o','o+','ob']
}
pf = pd.DataFrame(Data, index = ['RowA','RowB','RowC', 'RowD','RowE','RowF'])
print(pf)

     EmpName  Id-No blood
RowA   Laxmi    101    0+
RowB    davi    102    ab
RowC    sai     103    o-
RowD    chai    104     o
RowE    mani    105    o+
RowF  Ganesh    106    ob

In [11]:
import pandas as pd 

Data = {
    'EmpName' : ['Laxmi' , 'davi','sai ','chai','mani','Ganesh'],
     'Id-No' : [101,102,103,104,105,106],
    'blood' : ['0+','ab','o-','o','o+','ob']
}
pf = pd.DataFrame(Data, index = ['RowA','RowB','RowC', 'RowD','RowE','RowF'])
print(pf)


# Access Row or column integer Dosition
print("\n Values  = \n",pf.iloc[[0,1]])

     EmpName  Id-No blood
RowA   Laxmi    101    0+
RowB    davi    102    ab
RowC    sai     103    o-
RowD    chai    104     o
RowE    mani    105    o+
RowF  Ganesh    106    ob

 Values  =
      EmpName  Id-No blood
RowA   Laxmi    101    0+
RowB    davi    102    ab

In [ ]:
# Names your indexes in a pandas DataFrame

In [13]:
# integer DataFrame desiplay data set in columns 
import pandas as pd 

Data = {
    'EmpName' : ['Laxmi' , 'davi','sai ','chai','mani','Ganesh'],
     'Id-No' : [101,102,103,104,105,106],
    'blood' : ['0+','ab','o-','o','o+','ob']
}
pf = pd.DataFrame(Data, index = ['EMP-1','EMP-2','EMP-3', 'EMP-4','EMP-5','EMP-6'])
print('\n Display index Column Name ')

for col in pf:
    print (col)

 Display index Column Name
EmpName
Id-No
blood