# JOIN PANDAS DATAFRAME

In Python, we can easily join Pandas DataFrames using the join() method. This will join the columns of the two different DataFrames.

Let us see an example and create two DataFrames and join them:

In [7]:
import pandas as pd
Maruti =  {
  'Modiles' :  ['Maruti Alto','Maruti Alto K10','Maruti S-Presso','Maruti Eeco','Maruti Wagon R',],
   'price-Maruti ' : ['Rs. 3.60 lakh to Rs. 5.20 lakh','Rs. 4 lakh to Rs. 6 lakh','Rs. 4.25 lakh to Rs. 6.20 lakh','Rs. 5.50 lakh to Rs. 7.40 lakh','Rs. 8.20 lakh to Rs. 14 lakh']
    

}

Hyundai = {
    'Hyundai-cars' : ['Hyundai Grand i10 Nios','Hyundai Aura','Hyundai i20','Hyundai Venue','Hyundai i20 N Line'],
    'price-Hyundai'  : ['Rs. 5.68 lakhs to Rs. 8.46 lakhs','Rs. 6.30 lakhs to Rs. 8.87 lakhs','Rs. 7.19 lakhs to Rs. 11.83 lakhs','Rs. 7.68 lakhs to Rs. 13.11 lakhs','Rs. 9.64 lakhs to Rs. 15.72 lakhs']
}

data1 = pd.DataFrame(Maruti)
print('\n DataFrame of Marutri cars\n ',data1)
data2 = pd.DataFrame(Hyundai)
print('\n Data Frame of Hydundai Cars \n',data2)

# join two Dataframe in one table 
two_modile = data1.join(data2)
print ('\n display two modile in one table',two_modile)

 DataFrame of Marutri cars
             Modiles                   price-Maruti
0      Maruti Alto  Rs. 3.60 lakh to Rs. 5.20 lakh
1  Maruti Alto K10        Rs. 4 lakh to Rs. 6 lakh
2  Maruti S-Presso  Rs. 4.25 lakh to Rs. 6.20 lakh
3      Maruti Eeco  Rs. 5.50 lakh to Rs. 7.40 lakh
4   Maruti Wagon R    Rs. 8.20 lakh to Rs. 14 lakh

 Data Frame of Hydundai Cars
              Hyundai-cars                      price-Hyundai
0  Hyundai Grand i10 Nios   Rs. 5.68 lakhs to Rs. 8.46 lakhs
1            Hyundai Aura   Rs. 6.30 lakhs to Rs. 8.87 lakhs
2             Hyundai i20  Rs. 7.19 lakhs to Rs. 11.83 lakhs
3           Hyundai Venue  Rs. 7.68 lakhs to Rs. 13.11 lakhs
4      Hyundai i20 N Line  Rs. 9.64 lakhs to Rs. 15.72 lakhs

 display two modile in one table            Modiles                   price-Maruti             Hyundai-cars  \
0      Maruti Alto  Rs. 3.60 lakh to Rs. 5.20 lakh  Hyundai Grand i10 Nios
1  Maruti Alto K10        Rs. 4 lakh to Rs. 6 lakh            Hyundai Aura
2  Maruti S-Presso  Rs. 4.25 lakh to Rs. 6.20 lakh             Hyundai i20
3      Maruti Eeco  Rs. 5.50 lakh to Rs. 7.40 lakh           Hyundai Venue
4   Maruti Wagon R    Rs. 8.20 lakh to Rs. 14 lakh      Hyundai i20 N Line

                       price-Hyundai
0   Rs. 5.68 lakhs to Rs. 8.46 lakhs
1   Rs. 6.30 lakhs to Rs. 8.87 lakhs
2  Rs. 7.19 lakhs to Rs. 11.83 lakhs
3  Rs. 7.68 lakhs to Rs. 13.11 lakhs
4  Rs. 9.64 lakhs to Rs. 15.72 lakhs