# CONCATENATE PANDAS DATAFRAME

In this lesson, learn to concatenate the Pandas DataFrames in Python using the concat() method. This will concatenate the content of the DataFrames.

Let us see an example and create two DataFrames and concatenate them:

In [13]:
import pandas as pd
oldEmp = {

    'EName' : ['Laxmi','Anu','Div','Driv','Dhoni',],
    'Eid':[ 'v001','v002','v003','v004','v005'],
    
}

NewEmp = {
    'EName': ['vani','sheha','suv'],
    'Eid' : ['v006','v007','v008']
}

Data1 = pd.DataFrame(oldEmp , index = ['emp-1','emp-2','emp-3','emp-4','emp-5'])
print('\n old Emp Name ', Data1)
Data2 = pd.DataFrame(NewEmp , index = ['emp-6','emp-7','emp-8'])
print('\n NewEmp name and id ' ,Data2)

# This add data in to single dataframe
TotalEmp = pd.concat([Data1,Data2])
print('\n Total Emp name and id :-  \n ',TotalEmp)

 old Emp Name         EName   Eid
emp-1  Laxmi  v001
emp-2    Anu  v002
emp-3    Div  v003
emp-4   Driv  v004
emp-5  Dhoni  v005

 NewEmp name and id         EName   Eid
emp-6   vani  v006
emp-7  sheha  v007
emp-8    suv  v008

 Total Emp name and id :-
         EName   Eid
emp-1  Laxmi  v001
emp-2    Anu  v002
emp-3    Div  v003
emp-4   Driv  v004
emp-5  Dhoni  v005
emp-6   vani  v006
emp-7  sheha  v007
emp-8    suv  v008